@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {box-sizing: border-box;
    margin: 0;
    padding: 0;}

html {font-size: 20px;
        font-family:'GmarketSansMedium';
        scroll-behavior: smooth;} 


@media(max-width: 850px) {

    html{font-size: 12px}
    header{display: none;}
}


body {margin: 0;
    padding: 0;;
}

section {

    height: 100vh;
}

header{
    width: 100%;
    color: white;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    transition: 0.6s;
    z-index: 1;
    
}

header.sticky {
    padding: 20px 100px;
    background-color: #fff;

}

header #logo {
    position: relative;
    text-decoration: none;
    font-family: 'GmarketSansBold';
    font-size: 1.5rem;
    color: white;

}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
header ul li {
    position: relative;
    list-style: none;
  }


header ul li a {
    position: relative;
    margin: 0,1rem;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

header.sticky ul li a, header.sticky #logo {
color: #000;

}
 

.home {
    display: flex;
    height: 100vh;
    background-image: url(http://gi.esmplus.com/mama5938/serey-kim-vUePu7hAYAQ-unsplash.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
    color: white;
  }

.home h1 {

    font-family: 'GmarketSansMedium';
    position: relative;
    letter-spacing: 1px;
    font-size: 2.5rem;
    overflow: hidden;
    border-right: .15em solid grey;
    white-space: nowrap;
    margin: 0 auto;
    transform: translateY(-50%);    


    animation: typewriter 8s steps(39) normal none,
    blinkTextCursor 500ms steps(39) infinite normal;

}


@keyframes typewriter{
    from{width: 0;}
    to{width: 21em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

 .aboutus {

    margin : 5px;
    padding: 10px;
    justify-content: center;
 } 


section h2 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}


.aboutus .circles {

display: flex;
flex-direction: row;
justify-content: center;

padding: 2rem;
margin: 2rem auto;
}

.aboutus article {

    margin: 5rem 10rem;
    line-height: 2rem;
}


.circle {
  clip-path: circle(50%);
  height: 15rem;
  width: 15rem;
  display: flex;
  margin: -20px;

  justify-content: center;
  text-align: center;
  align-items: center;
}


.n_1 {

    background-color: rgba(105, 192, 172, 60%);
}

.n_2 {

    background-color: rgba(255, 211, 146, 60%);
}

.n_3 {

    background-color: rgba(196, 196, 196, 60%);
}

.circle p{

    color: white;
    font-size: 1.5rem;
}
/*history*/

.history {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1D1D1D;
    
  }

.history h2 { 
    color: white;
    margin: 2rem auto;
    margin-bottom: 10rem;
}

.history .vertical {

    border-left: 6px solid white;
    height: 500px;
    position:absolute;
    left: 50%;
}


  .history .entries {
    margin: 5rem auto;
    width: calc(100% - 80px);
    max-width: 1400px;
    position: relative;
    left: -5px;
  }
  .history .entries .entry {
    width: calc(50% - 80px);
    float: left;
    padding: 20px;
    clear: both;
    text-align: right;  
  }
  .history .entries .entry:not(:first-child) {
    margin-top: -20px;
  }
  .history .entries .entry .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative;
    color: #fff;
  }
  .history .entries .entry .title:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border: 4px solid #ffffff;
    border-radius: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: -73px;
    z-index: 1000;
  }
  .history .entries .entry .title.big:before {
    width: 24px;
    height: 24px;
    -webkit-transform: translate(8px, -50%);
            transform: translate(8px, -50%);
    z-index: 99999999;
  }
  .history .entries .entry .body {
    color: #aaa;
  }
  .history .entries .entry .body p {
    line-height: 1.4em;
  }
  .history .entries .entry:nth-child(2n) {
    text-align: left;
    float: right;
  }
  .history .entries .entry:nth-child(2n) .title:before {
    left: -63px;
  }
  .history .entries .entry:nth-child(2n) .title.big:before {
    -webkit-transform: translate(-8px, -50%);
            transform: translate(-8px, -50%);
  }
  

  


/*brands*/

.brands {

    height: 60vh; 
    position: relative;
    display: flex; 
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;

}



    .babyplanet {
        width: 70%;
        height: 100%;
        background-color: #69c0ac; 

        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .babyplanet div {
        display: block;
        position: relative;
        top:30%;
    }

    .babyplanet p {

        margin: 1rem;
    }

    .minette{
        display: block;
        width: 30%;
        height: 100%;
        background-color:  #FFD392;
        
    }

    .minette div {
        display: block;
        position: relative;
        top:30%;
    }

    .babyplanet:hover {
        width: 80%;
        transition: 1s

    }

    .minette:hover {
        width: 50%;
        transition: 1s

    }



    /*button*/ 

    .button {

        background-color: white;
        display: inline-block;
        text-decoration: none;
        width: 150px;
        color: #222222;
        font-size: 0.8rem;
        padding: 1rem;
        border: none;
        border-radius: 2rem;
        opacity: 0.9;
        margin: 1.5rem;

        
    }

    .babyplanet:hover .button {

        opacity: 1;
        transition: 1s; 
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); 
    }

/*footer*/

footer{
  height: 20vh;
  text-align: center;
  align-items: center;
  justify-content: center;

}
footer .footer {

  margin: 2rem auto;
  bottom: 0;

}

footer p {
  font-size: 0.8rem;
  color: black;
}

footer a {

  color: black;
}

footer .socialmedia {
justify-content: space-between;
margin: 3rem;

}

.fa {
  padding: 20px;
  font-size: 2rem;
  width: 3rem;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-instagram {
  background: #e1306c;
  color: white;
}

